ul {
  padding: 0;
}
li {
  list-style: none;
}
p,
h2 {
  margin: 5px;
}
.preview {
  flex-basis: 50%;
  background-color: pink;
  overflow-y: auto;
}
.title {
  width: 100%;
  text-align: center;
  margin: 1em 0;
  color: #385461;
}
ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.card {
  width: 80%;
  height: 200px;
  border-radius: 20px;
  color: white;
  display: flex;
  align-items: center;
  max-width: 480px;
}
.card.dark {
  background-color: black;
}
.card.light {
  background-color: skyblue;
}
.card.colorful {
  background: radial-gradient(
    circle,
    rgba(238, 174, 215, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}
.img {
  flex: 30%;
  margin: 20px 20px;
  width: 75%;
  height: 75%;
  border-radius: 20px;
}
.description {
  flex: 70%;
}
.line {
  width: 90%;
  height: 2px;
  background-color: burlywood;
}

@media screen and (max-width: 400px) {
  .name {
    font-size: 20px;
  }
  .company,
  .professional,
  .email,
  .message {
    font-size: 13px;
  }
}
