.maker {
  flex-basis: 50%;
  background-color: #ffeae8;
  overflow-y: auto;
}
.title {
  width: 100%;
  text-align: center;
  margin: 1em 0;
  color: #385461;
  font-size: 24px;
}

.maker__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5em 2em;
}
