:root {
  --makerblack: black;
  --makerwhite: white;
  --makerlightgrey: #e8e7e6;
  --akerlightpink: #ffeae8;
  --makergrey: #626262;
  --makergreen: #385461;
  --makerpink: pink;
  --makershadow: rgba(217, 217, 217, 1);
  --makercolorful: linear-gradient(
    166deg,
    rgba(237, 193, 211, 1) 0%,
    rgba(212, 149, 161, 1) 60%,
    rgba(162, 63, 63, 1) 100%,
    rgba(127, 188, 242, 1) 100%
  );
  --makerwheat: wheat;

  --mediaQuery: 62rem;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  background-color: var(--makerwhite);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
